%h1 Reenviar Instruções de confirmação

%br

= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }, defaults: { label: false, input_html: { class: "form-control" } }) do |f|
  = devise_error_messages!
  = f.input :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: "Email"
  = f.submit "Enviar Email de Confirmação", class: "btn btn-primary full-width"

%hr

= render "devise/shared/links"
