%h1 Transferência

%br

- flash.each do |key, value|
  %div{:class => "flash #{key}"}= value

= simple_form_for @transition, defaults: { input_html: {class: "form-control" }, label: false} do |f|
  = f.input :value, placeholder: "Valor"
  = f.input :account_id, as: :hidden, input_html: { value: current_user.account.id  }
  = f.input :reciever, placeholder: "Conta"
  = f.submit "Transferir", id: "submit", class: "btn btn-primary", disabled: true, onclick: "showConfirmation()", style: "width:100%"

:javascript
  var input1 = document.getElementById("transition_value");
  input1.addEventListener("input", unlockButton);
  var input2 = document.getElementById("transition_reciever");
  input2.addEventListener("input", unlockButton);

  function unlockButton() {
    if (input1.value.length > 0 && input2.value.length > 0) {
      document.getElementById("submit").disabled = false;
    } else {
      document.getElementById("submit").disabled = true;
    }
  }

  showConfirmation = function() {
    var value = document.getElementById('transition_value').value;
    var account = document.getElementById('transition_reciever').value;
    confirm('Transferir ' + value + ' para a conta ' + account + '?');
  }
