%h1 Alterar Minha Senha
= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, defaults: { label: false, input_html: { class: "btn btn-primary" } }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  - if @minimum_password_length
    %em
      (#{@minimum_password_length} characters minimum)
    %br/
  = f.input :password, autofocus: true, autocomplete: "off", placeholder: "Senha"
  = f.input :password_confirmation, autocomplete: "off", placeholder: "Confirmar Senha"

  = f.submit "Atualizar minha senha", class: "btn btn-primary full-width"

%hr

= render "devise/shared/links"
