%h1 Esqueci minha senha

%br

= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, defaults: { label: false, input_html: { class: "form-control" } }) do |f|
  = devise_error_messages!
  = f.input :email, autofocus: true, autocomplete: "email"
  = f.submit "Ajude-me a Recuperar Minha Senha", class: "btn btn-primary"

%hr

= render "devise/shared/links"
