= simple_form_for(@deposit, defaults: { label: false, input_html: { class: "form-control" }}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :value, placeholder: "Valor", as: :float

  .form-actions
    = f.button :submit, "Confirmar", class: "btn btn-primary"
