%h1 Login

%br

= simple_form_for(resource, as: resource_name, url: session_path(resource_name), defaults: { label: false, input_html: { class: "form-control" }}) do |f|
  - flash.each do |key, value|
    %div{:class => "flash #{key}"}= value
  = f.input :login, placeholder: "Número da conta", autofocus: true
  = f.input :password, autocomplete: "off", placeholder: "Senha"
  = f.submit "Entrar", class: "btn btn-primary full-width"

%hr

= render "devise/shared/links"
