/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: repeating-linear-gradient(to right, #5acbc9, #538888);
  height: -webkit-fill-available;
  color: white;
  text-align: center;
  font-family: Montserrat;
}

a {
  color: #ececec;
}

.navbar {
  background-color: transparent !important;
}

.nav-link, .navbar-brand {
  color: white !important;
}

.form-control {
  margin-bottom: 10px;
}

.full-width {
  width: 100% !important;
}

.body-content {
  height: -webkit-fill-available;
  display: table;
  margin-top: -20%;
  z-index: -1;
}

.body-content-inner {
  display: table-cell;
  vertical-align: middle;
}

.title {
  font-size: 3rem;
}

.subtitle {
  font-size: 1.3rem;
}

.field_with_errors input {
  border: 1.5px solid tomato;
}

.fix-margin {
  margin-top: 20% !important;
}

@media only screen and (min-width: 768px) {
  .body-content {
    margin-top: -10%;
    max-width: 70%;
  }
  .title {
    font-size: 3.3rem;
  }
  .subtitle {
    font-size: 1.5rem;
  }
  .fix-margin {
    margin-top: 10% !important;
  }
}

@media only screen and (min-width: 1024px) {
  .body-content {
    margin-top: -5%;
    max-width: 50%;
  }
  .title {
    font-size: 5rem;
  }
  .subtitle {
    font-size: 2rem;
  }
}
