%p
  Hello #{@resource.name}!
%p
  Account Number: #{@resource.account.account_number}
%p
  Password: #{@resource.unhashed_password}
%p You can confirm your account email through the link below:
%p= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token)
