- flash.each do |key, value|
  %div{:class => "flash #{key}"}= value

%h1.title= "Olá #{current_user.name.capitalize}!"

%br

%h4.subtitle= "Saldo Atual da Conta: R$ #{@account.balance.to_f.round(2)}"
%h5= "Conta: #{current_user.account.account_number}"
